h1 {
  text-transform: uppercase;
  font-size: 48px;
  margin: 0;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}

.row {
  display: flex;
  gap: 20px;
}

  .previewpizza {
    max-height: 185px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  .menu {
    color: black;
    background: rgb(255,241,216);
    background: radial-gradient(circle, rgba(255,241,216,1) 0%, rgba(255,225,168,1) 100%);
    text-align: center;
    padding: 20px;
  }
  .pizza-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns per row */
    gap: 20px; /* Space between pizza cards */
    justify-content: center;
    padding-left: 20dvw;
    padding-right: 20dvw;
  }
  
  @media (max-width: 1024px) {
    .pizza-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .pizza-list {
      grid-template-columns: repeat(1, 1fr);
      padding-left: 5vw;
      padding-right: 5vw;
    }
  }
  

  .pizza-card {
    display: flex;
    flex-direction: column; /* Stack items properly */
    width: 30%;
    border: 4px solid #F7AD45;
    border-radius: 25px;
    font-weight: bold;
    background-color: rgba(247, 173, 69, 0.3);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #a0702b;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card-top {
    height: 50%;
  }
  .card-bottom {
    height: 50%;
    padding: 2dvw;
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }

  .pizza-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .pizza-card img {
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #F7AD45;
    border-radius: 0px;
  }
  
  .pizza-card h3 {
    color: #A0702B;
    font-size: 26px;
  }
  
  .pizza-card p {
    margin-top: 0;
    margin-bottom: 0.4dvw;
    color: #D9983D;
    font-size: 17px;
  }

  .pizza-card strong {
    color: #B77A25;
    font-size: 24px;
  }

  .pizza-card span {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .pizza-card button {
    padding: 0.5dvw 1dvw;
    font-size: 1rem;
    background-color: #f7ad45;
    color: #FFF1D7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .text-img {
    width: 40%;
    font-size: 2dvw;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 400;
    padding: 2dvw;
    border-radius: 10px;
    max-width: 70%;
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
    margin-left: 200px;
  }
  
  .textvideo {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 30dvw;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .textvideo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  .textvideo .text-content {
    position: relative;
    z-index: 1;
    font-size: 3.3dvh;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-right: 50%;
    margin-left: 10%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .textvideo p {
    word-wrap: break-word;
  }
  .specialfont {
    background: linear-gradient(to right, #bb3e00, #5f8d37);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 100% auto;
    animation: moveGradient 4s linear infinite;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .getToOrder {
    height: 20dvw;
    font-size: 1.7dvw;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #a0702b;
    background: radial-gradient(circle, rgba(255,241,216,1) 0%, rgba(255,225,168,1) 100%);
  }
  .getToOrder button {
    padding: 1dvw 1.75dvw;
    font-size: 1.6dvw;
    background-color: #f7ad45;
    color: #FFF1D7;
    border: none;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    transition: ease 0.2s;
  }
  .getToOrder button:hover{
    background-color: #f5a22f;
    transform: scale(1.01);
  }
  .previewpizza {
    height: 50%;
    width: 100%;
  }
  .pizza-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns per row */
    gap: 20px; /* Space between pizza cards */
    justify-content: center;
    padding-left: 20dvw;
    padding-right: 20dvw;
  }
  .menubtn {
    background-color: rgba(247, 173, 69, 0.3);
    border: #f7ad45 solid 0.2dvw;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 0.7dvw 3.3dvw;
    color: #f7ad45;
    transition: ease 0.2s;
  }
  .menubtn:hover{
    background-color: rgba(247, 173, 69, 0.25);
    color: #ffaa32;
    transform: scale(1.01);
  }
  .orderbtn {
    background-color: #f7ad45;
    border: #f7ad45 solid 0.2dvw;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 0.7dvw 3.3dvw;
    transition: ease 0.2s;
  }
  .orderbtn:hover{
    border-color: #fda62c;
    background-color: #fda62c;
    transform: scale(1.01);
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .hero {
    background-size: cover;
    background-position: center;
    height: 40dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,241,216);
    background: radial-gradient(circle, rgba(255,241,216,1) 0%, rgba(255,225,168,1) 100%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .hero img {
    height: 30dvw;
    width: 30dvw;
    border-radius: 30px;
    animation: float 5s ease-in-out infinite;
  }

  @keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
  }
  
  .hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .hero h2 {
    font-size: 4dvw;
    color: #9b6600;
  }
  
  .hero p {
    font-size: 1.2dvw;
    margin-bottom: 2dvw;
    padding-left: 2.5dvw;
    color: #9b6600;
    font-weight: 500;
  }
  
  .hero button {
    font-size: 1dvw;
    cursor: pointer;
    margin: 0.2dvw;
    font-weight: 500;
    margin-left: 2dvw;
  }

  
  .menu h2 {
    font-size: 3dvw;
    margin-bottom: 20px;
    color: #9B6600;
  }
  
  .pizza-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  
  .order {
    text-align: center;
    padding: 20px;
  }
  
  .order h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .order form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .order form label {
    margin-bottom: 10px;
  }
  
  .order form input,
  .order form select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .order form button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .order form button:hover {
    background-color: #555;
  }
  
  .order form button:active {
    background-color: #777;
  }
/*Reszponzívítás*/
  @media (max-width: 1000px) {
    .hero {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      background-size: cover;
      background-position: center;
      height: 45dvw;
      display: flex;
      padding-top: 3dvw;
      align-items: center;
      background: rgb(255,241,216);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .textvideo {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 43vw;
      overflow: hidden;
    }
    .textvideo p {
      font-size: 2.4dvw;
      opacity: 0.8;
      margin: 0;
    }
    .text-img {
      display: flex;
      align-items: center;
      height: 90%;
      width: 50%;
      font-size: 3dvw;
      color: white;
      font-weight: bold;
      padding: 2dvw;
      border-radius: 10px;
      max-width: 70%;
      opacity: 1;
      transform: translateY(0);
      z-index: 2;
      margin: 0;
      position: absolute;
      left: 10%;
    }
    .hero p{
      font-size: 3.5dvw;
    }
    .hero button{
      width: 100%;
      font-size: 1dvw;
      cursor: pointer;
      margin: 0.7dvw;
      font-weight: bold;
      margin-left: 2dvw;
      font-size: 3dvw;
    }
    .hero img {
      height: 40dvw;
      width: 40dvw;
      border-radius: 30px;
      padding-left: 2dvw;
    }
    .menubtn {
      border: #f7ad45 solid 0.2dvw;
      border-radius: 40px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      padding: 1dvw 3.3dvw;
    }
    .menu h2{
      font-size: 7dvw;
    }
    .pizza-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      justify-content: center;
    }
    .pizza-card {
      display: flex;
      flex-direction: column; 
      justify-content: space-between; 
      width: 100%;
      border: 4px solid #F7AD45;
      border-radius: 10px;
      font-weight: bold;
      background-color: rgba(247, 173, 69, 0.5);
      padding-bottom: 3dvw;
      margin-right: 20dvw;
      height: 100%;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      color: #a0702b;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
      
  .pizza-card img {
    width: 100%;
    min-height: 30dvw;
  }
  
  .pizza-card h3 {
    font-size: 4.3dvw;
    margin-bottom: 10px;
    color: #A0702B;
  }
  
  .pizza-card p {
    font-size: 2.7dvw;
    margin-bottom: 0.4dvw;
    color: #D9983D;
  }
  
  .pizza-card button {
    padding: 1dvw 4dvw;
    background-color: #f7ad45;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    width: 80%;
    margin-top: auto;
    font-size: 3dvw;
    border-radius: 20px;
  }
  .getToOrder {
    padding: 2dvw;
    height: fit-content;
    font-size: 4dvw;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #a0702b;
    background: radial-gradient(circle, rgba(255,241,216,1) 0%, rgba(255,225,168,1) 100%);
  }
  .getToOrder button {
    padding: 2dvw 5.75dvw;
    font-size: 3dvw;
    background-color: #f7ad45;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  h1 {
    font-size: 10dvw;
  }
  p {
    font-size: 4dvw;
  }
  .card-bottom {
    padding-top: 2dvw;
  }
}