@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.hidden {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  margin: 0;
}

.delivery .disabled {
  pointer-events: none;
  cursor: default;
  background-color: #a77838;
  color: rgb(199, 179, 148);
}

.fizetes .disabled {
  pointer-events: none;
  cursor: default;
  background-color: #a77838;
  color: rgb(199, 179, 148);
}

.costume .disabled {
  pointer-events: none;
  cursor: default;
  background-color: #a77838;
  color: rgb(199, 179, 148);
}

.app {
  height: 1080px;
  width: 100%;
  font-family: 'Lato';
  background: rgb(255,241,216);
  background: radial-gradient(circle, rgba(255,241,216,1) 0%, rgba(255,225,168,1) 100%);
}

.enabled {
  pointer-events: all;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

.selected {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.order {
  background-color: #FFF1D7;
  border-radius: 90px;
  color: #F7AD45;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.title h1 {
  color: #9B6600;
  font-size: 64px;
  text-align: center;
  font-weight: 800;
  margin: 10px;
}

.menu {
  background-color: #FCC77C;
  height: 67px;
  width: 485px;
  border-radius: 50px;
  margin: auto;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menubar {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding-inline-start: 0;
  text-align: center;
}

.menubar li {
  display: inline-block;
  padding: 0px 30px;
  line-height: 50px;
  width: 160px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  background-color: rgba(247, 173, 69, 0.8);
  color: #9B6600;
  font-weight: bold;
  border-radius: 50px;
  margin: 0px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menubar li:hover{
  background-color: #F7AD45;
  color: #FFF1D7;
  transition: background-color 0.3s ease, color 0.3s ease;
  transform: scale(1.01);
}

.menubar li.active{
  background-color: #F7AD45;
  color: #FFF1D7;
}

.items {
  height: 200px;
  width: 20px;
  background-color: rgba(0,0,0,0,0);
}

.item {
  width: 290px;
  height: 400px;
  background-color: rgba(247,173,69,0.4);
  border-radius: 50px;
  color: #9B6600;
  text-align: center;
  font-weight: bolder;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px 10px 10px 10px;
  transition: transform 0.2s;
}

.item img {
  border-radius: 50px 50px 0px 0px;
  width: 290px;
  height: 178px;
  display: inline-block;
}

.item button {
  border: 0;
  background-color: #F7AD45;
  width: 150px;
  height: 50px;
  border-radius: 75px;
  color: #FFF1D7;
  font-weight: 800;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.item h4 {
  margin: 5px 0px 3px 0px;
  font-size: 24px;
  font-weight: 800;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item:hover {
  transform: scale(1.01);
}

.item select {
  -webkit-appearance: auto;
  appearance: auto;
  color: #9B6600;
  border: 2px solid #9B6600;
  border-radius: 10px;
  padding: 0px 2px 0px 2px;
}

.item select:focus-visible {
  outline: none;
}

.item option {
  color: #9B6600;
  background-color: rgba(247, 173, 69, 0.4);
}

.ar {
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0px 5px 0px;
}

.ratet {
  font-size: 14px;
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}

.item button:hover {
  background-color: #E5A242;
  cursor: pointer;
}

.delivery {
  height: 205px;
  width: 300px;
  background-color: #FCC77C;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.delivery input {
  background-color: #F7AD45;
  border: 0;
  border-radius: 75px;
  height: 50px;
  width: 230px;
  margin: 10px 0px 10px 0px;
  color: #754c00;
  text-overflow: ellipsis;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s;
}

.delivery input:hover{
  transform: scale(1.01);
  transition: ease 0.1s;
}

.delivery input:focus {
  border: #9B6600 solid 2px;
  transition: ease 0.1s;
}

.delivery input:focus-visible {
  outline: none;
}

.delivery select {
  background-color: #F7AD45;
  border: 0;
  border-radius: 75px;
  height: 50px;
  width: 230px;
  margin: 10px 0px 10px 0px;
  color: #9B6600;
  font-weight: 700;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: transform 0.2s;
}

.delivery select:hover {
  transform: scale(1.01);
  transition: ease 0.1s;
  color: #916001;
}

.delivery select:focus {
  border: #9B6600 solid 2px;
  transition: ease 0.1s;
}

.delivery select:focus-visible {
  outline: none;
}

.iconCar {
  padding-left: 40px;
  background: url("https://cdn-icons-png.freepik.com/512/75/75689.png") no-repeat left;
  background-size: 20px;
  background-position-x: 10px;
}

.iconWaypoint {
  padding-left: 40px;
  background: url("https://icon-library.com/images/waypoint-icon/waypoint-icon-0.jpg") no-repeat left;
  background-size: 15px;
  background-position-x: 13px;
}

.checkout {
  height: 330px;
  width: 300px;
  background-color: #FCC77C;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.checkout hr {
  background-color: #9B6600;
  height: 2px;
  border: 0;
  width: 85%;
}

.orderDetails h3 {
  margin: 20px 30px 10px 30px;
  align-self: flex-start;
  font-weight: 900;
}

.orderDetails {
  color: #9B6600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderDetails button {
  background-color: #FFF1D7;
  border: #9B6600 solid 2px;
  color: #9B6600;
  font-weight: 800;
  font-size: 15px;
  width: 23px;
  height: 15px;
  cursor: pointer;
}

.orders {
  display: flex;
  justify-content: space-around;
  margin: 0px 10px 0px 24px;
  height: 100px;
  overflow-x: auto;
  width: 266px;
}

.orders hr {
  margin: auto;
}

.orders button {
  padding: 0;
  line-height: 0.3;
}

.nincsRendelesSzoveg {
  display: flex;
  align-items: center;
}

.orders::-webkit-scrollbar {
    width: 12px;
    height: 85%;
}

.orders::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

.orders::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2); 
}

.orders::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

.orders::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

.total {
  color: #684400;
  font-weight: bolder;
  margin-top: 15px;
}

.total button {
  border: 0;
  background-color: #F7AD45;
  width: 250px;
  height: 50px;
  border-radius: 75px;
  color: #FFF1D7;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.fizetesGomb {
  border: 0;
  background: #F7AD45;
  width: 250px;
  height: 50px;
  border-radius: 75px;
  color: #FFF1D7;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  width: 976px;;
  display: flex;
  justify-content: center;
  margin: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.rendelesRow {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.szallitas {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 0px 30px;
}

.osszeg {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 0px 30px;
}

.szamol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
}

.szamol h4 {
  margin: 0px;
}

.targy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.targy h4 {
  margin: 7px 0px 7px 0px;
}

.szamolGombok {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fizetes {
  display: flex;
  justify-content: center;
}
.fizetesGomb {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
}

.fizetesGomb:hover {
  background-color: #E5A242;
  cursor: pointer;
}
/*Elhelyezkedés*/
.leftSide {
  display: flex;
  width: 66.6666%;
  padding: 30px 0px 0px 0px;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 810px;
  overflow-y: auto;
  overflow-x: hidden;
}

.leftSide::-webkit-scrollbar {
    width: 12px;
}

.leftSide::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

.leftSide::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2); 
}

.leftSide::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 40px; 
}

.leftSide::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 40px;
}

.rightSide {
  display: flex;
  width: 33.3333%;
  padding: 30px 0px 0px 0px;
  align-items: center;
  flex-direction: column;
}

.half {
  display: flex;
  width: 50%;
  margin-bottom: 5px;
}

.costume {
  background-color: #FCC77C;
  height: 569px;
  width: 604px;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.costume h3 {
  padding-left: 30px;
  padding-top: 10px;
  color: #9B6600;
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.costume h1 {
  color: #9B6600;
  display: flex;
  justify-content: center;
}

.costume input {
  width: 550px;
  height: 50px;
  border-radius: 75px;
  background-color: #FFD8A0;
  border: none;
  color: #9B6600;
  margin-left: 30px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
}

.costume input:focus-visible{
  outline: none;
}


.costume select {
  /*STYLE*/
  width: 550px;
  height: 50px;
  border-radius: 75px;
  background-color: #FFD8A0;
  border: none;
  color: #9B6600;
  margin-left: 30px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
  transition: ease 0.1s;
  /*ARROW*/
  appearance: none;
  background-image: url("https://cdn-icons-png.flaticon.com/512/32/32213.png");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1rem auto;
}

.costume select:focus-visible {
  outline: none;
}

.costume select:hover {
  border: #684400 2px solid;
}

.costume button {
  width: 250px;
  height: 50px;
  border-radius: 75px;
  border: none;
  background-color: #F7AD45;
  color: #FFF1D7;
  font-size: 24px;
  font-weight: 700;
  margin-top: 60px;
  transition: ease 0.1s;
}

.costume button:hover {
  transform: scale(1.01);
}

.costume p {
  min-width: 10px;
  height: 25px;
  background: #F7AD45;
  color: #9B6600;
  font-size: 12px;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 5px;
  padding: 0px 10px 0px 10px;
  font-weight: 700;
  transition: ease 0.1s;
}

.costume p:hover {
  background-color: #754c00;
  color: #E5A242;
  text-decoration: line-through;
  font-size: 15px;
  cursor: pointer;
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
}

.kivalasztottSor {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 25px;
}

.costume p.ures {
  background-color: rgba(247,173,69,0.5);
  border-radius: 75px;
  font-size: 20px;
}

.costume p.ures:hover {
  background-color: rgb(247, 173, 69);
  color: #9B6600;
  cursor: pointer;
}

.cardPayment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inCashPayment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*RESPONSIVE*/
/* Mobile devices (up to 768px) */
@media (max-width: 768px) {
  .app {
    width: auto;
    height: auto;
  }

  .container {
    width: auto;
    padding: 0px 10px 0px 10px;
  }

  .leftSide::-webkit-scrollbar {
    width: 6px;
}

  .row {
    justify-content: center;
  }

  .leftSide {
    width: 60%;
    height: 640px;
  }

  .rightSide {
    width: 40%;
  }
  .title h1 {
    font-size: 40px;
  }

  .menu {
    width: 250px; /* 410px */
    height: 50px;
  }

  .menubar {
    width: 250px; /* 410px */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menubar li {
    height: 25px;
    width: 80px;
    font-size: 10px;
    display: flex;
    white-space: pre;
    align-items: center;
    justify-content: center;
  }

  .item {
    width: 150px; /* 200px */
    height: 200px; /* 300px */
    border-radius: 25px;
  }

  .item img {
    width: 150px; /* 200px */
    height: 75px; /* 100px */
    border-radius: 25px 25px 0px 0px;
  }

  .item button {
    width: 75px; /* 100px */
    height: 30px; /* 40px */
    font-size: 12px;
  }

  .item h4 {
    font-size: 12px;
  }

  .item select {
    color: black;
  }

  .item option {
    color: black;
  }

  .ar {
    font-size: 10px;
  }

  .ratet {
    font-size: 10px;
  }

  .targy h4 {
    font-size: 0.625rem; /* 10px */
  }

  .szamol {
    padding-right: 0;
  }

  .szamol h4 {
    font-size: 0.625rem; /* 10px */
  }

  .szamolGombok {
    width: 2.5rem; /* 40px */
    height: 1.25rem; /* 20px */
  }

  .orderDetails button {
    width: 15px;
    height: 10px;
    font-size: 11px;
  }

  .delivery {
    height: 6.5625rem; /* 105px */
    width: 137px; 
    border-radius: 1.5625rem; /* 25px */
  }

  .delivery select {
    height: 3.125rem; /* 50px */
    width: 7.565rem; /* 130px */
    font-size: 10px;
  }

  .delivery input {
    height: 3.125rem; /* 50px */
    width: 7.565rem; /* 130px */
    font-size: 10px;
  }

  .iconCar {
    background-size: 10px;
    padding-left: 30px;
  }

  .iconWaypoint {
    background-size: 10px;
    padding-left: 30px;
  }

  .checkout {
    width: 137px; 
    height: 12.5rem; /* 200px */
    border-radius: 1.5625rem; /* 25px */
  }

  .orderDetails h3 {
    margin: auto;
    margin-top: 0.625rem; /* 10px */
    margin-bottom: 0.625rem; /* 10px */
  }

  .orders {
    width: auto;
    height: 3.125rem; /* 50px */
  }

  .nincsRendelesSzoveg {
    font-size: 0.625rem; /* 10px */
  }

  .szallitas {
    margin: 0 0.625rem; /* 10px */
    font-size: 0.625rem; /* 10px */
  }

  .osszeg {
    margin: 0 0.625rem; /* 10px */
    font-size: 0.625rem; /* 10px */
  }

  .total button {
    width: 6.25rem; /* 100px */
    height: 1.5625rem; /* 25px */
    font-size: 0.875rem; /* 14px */
  }

  .fizetesGomb {
    width: 6.25rem; /* 100px */
    height: 1.5625rem; /* 25px */
    font-size: 0.875rem; /* 14px */
  }

  /*Egyedi pizza rendelés dizájn*/
  .costume {
    width: 200px;
  }

  .costume h3 {
    font-size: 20px;
  }

  .costume select {
    width: 80%;
    margin-left: 20px;
    font-size: 14px;
  }

  .costume input {
    width: 80%;
    margin-left: 20px;
    font-size: 14px;
    text-align: center;
    padding: 0;
  }

  .costume p {
    margin: 0;
    margin-top: 10px;
    font-size: 10px;
  }

  .costume button {
    width: 80%;
    font-size: 16px;
  }
}

/*MODAL STYLE*/

.modal {
  height: auto;
  width: 400px;
}

.modal h1 {
  display: flex;
  justify-content: center;
}
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4em;
    background-color: #FCC77C;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
    font-weight: 800;
  }
  h4 {
    margin-top: 20px;
  }
  a {
    cursor: pointer;
  }
  p {
    color: #56390067;
    font-size: 69%;
    margin-bottom: 20px;
  }
  input, select {
    border: #684400 solid 2px;
    background-color: #f7ad4575;
    color: #684400;
    border-radius: 25px;
    width: auto;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  input:focus-visible {
    outline: none;
  }

  select:focus-visible {
    outline: none;
  }

  input::placeholder, select::placeholder {
    color: #68440075;
  }
  .cardDetails {
    width: 100%;
  }

  .rendeles {
    border: #684400 2px solid;
    padding: 10px;
    left: 81%;
    background-color: #FCC77C;
  }

  .osszeg {
    margin: 5px 40px 0px 10px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button {
    margin-top: 20px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
      background-color: #E5A242;
      transition: ease 0.2s;
      transform: scale(1.02);
    }
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
  }
}

.modal-close {
  color: #684400;
  font-weight: 800;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
    transform: scale(1.05);
  }
}

.modal-back{
  color: #684400;
  font-weight: 800;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
    transform: scale(1.05);
  }
}