@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  height: 100vh;
  overflow: hidden;
  /*sexy animáció*/
  background: linear-gradient(45deg, #FFF1D8, #FFE1A8);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
}

/*sexy animáció*/
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.orders-page {
  height: 99vh;
  width: 900px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FCC77C;
    color: #9B6600;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
  }

.orders-page::-webkit-scrollbar {
  width: 12px;
  height: 85%;
}

.orders-page::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

.orders-page::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2); 
}

.orders-page::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 30px; 
}

.orders-page::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 30px;
}
  
  .orders-page h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .orders-page h2 {
    margin-top: 20px;
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    color: #a2a2a2;
  }

  td {
    border: 1px solid #F7AD45;
    color: #9B6600;
    font-weight: 800;
  }
  
  th {
    background-color: #F7AD45;
    color: #9B6600;
  }

  td:hover {
    background-color: rgba(247, 173, 69, 0.3);
  }

  /*Az adattábla lekerekítése*/
  th:first-of-type {
    border-top-left-radius: 25px;
  }
  th:last-of-type {
    border-top-right-radius: 25px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 25px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 25px;
  }
  
  button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #f4a83d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
  }
  
  button:hover {
    background-color: #dba14a;
  }
  
  .notification-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #444;
    color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

/*táblák mutatása*/
.hidden {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
}

img {
  height: 20px;
  width: 20px;
}

.backToHomePage {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/*Az adattábla lekerekítése*/
th:first-of-type {
  border-top-left-radius: 25px;
}
th:last-of-type {
  border-top-right-radius: 25px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 25px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 25px;
}

img:hover {
  margin: 5px;
  transform: scale(1.1);
  transition: ease 0.1s;
}