@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.v-application__wrap {
  max-width: none !important;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  margin: 0;
}

.delivery .disabled {
  pointer-events: none;
  cursor: default;
  background-color: #a77838;
  color: rgb(199, 179, 148);
  transition: ease 0.5s;
}

.fizetes .disabled {
  pointer-events: none;
  cursor: default;
  background-color: #a77838;
  color: rgb(199, 179, 148);
  transition: ease 0.5s;
}

.costume .disabled {
  pointer-events: none;
  cursor: default;
  background-color: #a77838;
  color: rgb(199, 179, 148);
  transition: ease 0.5s;
}

.app {
  height: fit-content;
  width: 100%;
  font-family: 'Lato';
  background: rgb(255,241,216);
  background: radial-gradient(circle, rgba(255,241,216,1) 0%, rgba(255,225,168,1) 100%);
}

.enabled {
  pointer-events: all;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

.selected {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.order {
  background-color: #FFF1D7;
  border-radius: 90px;
  color: #F7AD45;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.title h1 {
  color: #9B6600;
  font-size: 64px;
  text-align: center;
  font-weight: 800;
  margin: 10px;
  margin-top: 0;
}

.menu {
  background-color: #FCC77C;
  height: 67px;
  width: 48.5dvw;
  max-width: 485px;
  min-width: 390px;
  border-radius: 50px;
  margin: auto;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menubar {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding-inline-start: 0;
  text-align: center;
}

.menubar li {
  display: inline-block;
  padding: 10px 30px 10px;
  width: 160px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  background-color: rgba(247, 173, 69, 0.8);
  color: #5e3d00;
  font-weight: bold;
  border-radius: 50px;
  margin: 0px 2dvw;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menubar li:hover{
  background-color: #F7AD45;
  color: #3a2600;
  transition: background-color 0.3s ease, color 0.3s ease;
  transform: scale(1.01);
}

.menubar li.active{
  background-color: #f7ac43;
  color: #3a2600;
}

.items {
  height: 200px;
  width: 20px;
  background-color: rgba(0,0,0,0,0);
}

.item {
  width: 290px;
  height: 400px;
  background-color: rgba(247,173,69,0.4);
  border-radius: 50px;
  color: #5e3d00;
  text-align: center;
  font-weight: bolder;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px 10px 10px 10px;
  transition: transform 0.2s;
}

.item img {
  border-radius: 50px 50px 0px 0px;
  width: 290px;
  height: 178px;
  display: inline-block;
}

.item button {
  border: 0;
  background-color: #F7AD45;
  width: 150px;
  height: 50px;
  border-radius: 75px;
  color: #5e3d00;
  font-weight: 800;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.item h4 {
  margin: 5px 0px 3px 0px;
  font-size: 24px;
  font-weight: 800;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item:hover {
  transform: scale(1.01);
}

.item select {
  -webkit-appearance: auto;
  appearance: auto;
  color: #9B6600;
  border: 2px solid #9B6600;
  border-radius: 10px;
  padding: 0px 2px 0px 2px;
}

.item select:focus-visible {
  outline: none;
}

.item option {
  color: #9B6600;
  background-color: rgba(247, 173, 69, 0.4);
}

.ar {
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0px 5px 0px;
}

.ratet {
  font-size: 14px;
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}

.item button:hover {
  background-color: #E5A242;
  cursor: pointer;
}

.delivery {
  height: 205px;
  width: 300px;
  background-color: #FCC77C;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.delivery input {
  background-color: #F7AD45;
  border: 0;
  border-radius: 75px;
  height: 50px;
  width: 230px;
  margin: 10px 0px 10px 0px;
  color: #5e3d00;
  text-overflow: ellipsis;
  font-weight: 700;
  cursor: pointer;
  transition: ease 0.5s;
}

.delivery input::placeholder {
  color: #5e3d00;
}

.delivery input:hover{
  transform: scale(1.01);
  transition: ease 0.1s;
}

.delivery input:focus {
  border: #9B6600 solid 2px;
  transition: ease 0.1s;
}

.delivery input:focus-visible {
  outline: none;
}

.delivery select {
  background-color: #F7AD45;
  border: 0;
  border-radius: 75px;
  height: 50px;
  width: 230px;
  margin: 10px 0px 10px 0px;
  color: #5e3d00;
  font-weight: 700;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: transform 0.2s;
}

.delivery select:hover {
  transform: scale(1.01);
  transition: ease 0.1s;
  color: #5e3d00;
}

.delivery select:focus {
  border: #9B6600 solid 2px;
  transition: ease 0.1s;
}

.delivery select:focus-visible {
  outline: none;
}

.iconCar {
  padding-left: 40px;
  background: url("https://cdn-icons-png.freepik.com/512/75/75689.png") no-repeat left;
  background-size: 20px;
  background-position-x: 10px;
}

.iconWaypoint {
  padding-left: 40px;
  background: url("https://icon-library.com/images/waypoint-icon/waypoint-icon-0.jpg") no-repeat left;
  background-size: 15px;
  background-position-x: 13px;
}

.checkout {
  height: 330px;
  width: 300px;
  background-color: #FCC77C;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.checkout hr {
  background-color: #9B6600;
  height: 2px;
  border: 0;
  width: 85%;
}

.orderDetails h3 {
  margin: 20px 30px 10px 30px;
  align-self: flex-start;
  font-weight: 900;
}

.orderDetails {
  color: #9B6600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderDetails button {
  background-color: #FFF1D7;
  border: #9B6600 solid 2px;
  color: #9B6600;
  font-weight: 800;
  font-size: 15px;
  width: 23px;
  height: 15px;
  cursor: pointer;
}

.orders {
  display: flex;
  justify-content: space-around;
  margin: 0px 10px 0px 24px;
  height: 100px;
  overflow-x: auto;
  width: 266px;
}

.orders hr {
  margin: auto;
}

.orders button {
  padding: 0;
  line-height: 0.3;
}

.nincsRendelesSzoveg {
  display: flex;
  align-items: center;
}

.orders::-webkit-scrollbar {
    width: 12px;
    height: 85%;
}

.orders::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

.orders::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2); 
}

.orders::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

.orders::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

.total {
  color: #684400;
  font-weight: bolder;
  margin-top: 15px;
}

.total button {
  border: 0;
  background-color: #F7AD45;
  width: 250px;
  height: 50px;
  border-radius: 75px;
  color: #FFF1D7;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.fizetesGomb {
  border: 0;
  background: #F7AD45;
  width: 250px;
  height: 50px;
  border-radius: 75px;
  color: #FFF1D7;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 10px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.rendelesRow {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.szallitas {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 0px 30px;
}

.osszeg {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 0px 30px;
}

.szamol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
}

.szamol h4 {
  margin: 0px;
}

.targy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.targy h4 {
  margin: 7px 0px 7px 0px;
}

.szamolGombok {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fizetes {
  display: flex;
  justify-content: center;
}
.fizetesGomb {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
}

.fizetesGomb:hover {
  background-color: #E5A242;
  cursor: pointer;
}
/*Elhelyezkedés*/
.leftSide {
  width: 33dvw;
  display: flex;
  padding: 30px 0px 0px 0px;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 810px;
  overflow-y: auto;
  overflow-x: hidden;
}

.leftSide::-webkit-scrollbar {
    width: 12px;
}

.leftSide::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

.leftSide::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2); 
}

.leftSide::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 40px; 
}

.leftSide::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 40px;
}

.rightSide {
  display: flex;
  padding: 30px;
  align-items: center;
  flex-direction: column;
}

.half {
  display: flex;
  width: 50%;
  margin-bottom: 5px;
}

.costume {
  width: 32dvw;
  display: flex;
  background-color: #FCC77C;
  height: 569px;
  max-width: 604px;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.costume h3 {
  padding-left: 30px;
  padding-top: 10px;
  color: #9B6600;
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.costume h1 {
  color: #9B6600;
  display: flex;
  justify-content: center;
}

.costume input {
  width: 27dvw;
  max-width: 550px;
  height: 50px;
  border-radius: 75px;
  background-color: #FFD8A0;
  border: none;
  color: #9B6600;
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
  margin-left: 20px;
  transition: ease 0.5s;
}

.costume input:focus-visible{
  outline: none;
}

.form {
  width: 100%;
}

.costume select {
  /*STYLE*/
  width: 26dvw;
  max-width: 550px;
  height: 50px;
  border-radius: 75px;
  background-color: #FFD8A0;
  border: none;
  color: #9B6600;
  margin-left: 30px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
  transition: ease 0.5s;
  /*ARROW*/
  appearance: none;
  background-image: url("https://cdn-icons-png.flaticon.com/512/32/32213.png");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1rem auto;
}

.costume select:focus-visible {
  outline: none;
}

.costume select:hover {
  border: #684400 2px solid;
}

.costume button {
  width: 250px;
  height: 50px;
  border-radius: 75px;
  border: none;
  background-color: #F7AD45;
  color: #FFF1D7;
  font-size: 24px;
  font-weight: 700;
  margin-top: 60px;
  transition: ease 0.1s;
}

.costume button:hover {
  transform: scale(1.01);
}

.costume p {
  min-width: 10px;
  height: 25px;
  background: #F7AD45;
  color: #9B6600;
  font-size: 12px;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 5px;
  padding: 0px 10px 0px 10px;
  font-weight: 700;
  transition: ease 0.1s;
}

.costume p:hover {
  background-color: #754c00;
  color: #E5A242;
  text-decoration: line-through;
  font-size: 15px;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

.kivalasztottSor {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 20px;
}

.costume p.ures {
  background-color: rgba(247,173,69,0.5);
  border-radius: 75px;
  font-size: 20px;
}

.costume p.ures:hover {
  background-color: rgb(247, 173, 69);
  color: #9B6600;
  cursor: pointer;
}

.cardPayment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inCashPayment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*MODAL STYLE*/
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: #FCC77C;
  color: #9B6600;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content .form-group-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-content .form-group-row input{
  width: 50%;
}

.modal-content input {
  background-color: #F7AD45;
  color: #5e3d00;
  border-radius: 25px;
  padding: 5px;
  margin: 10px;
}

.modal-content input:focus-visible {
  outline: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.modal-buttons button {
  background-color: #F7AD45;
  border-radius: 25px;
  font-weight: 700;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #754c00;
  font-weight: 800;
  z-index: 10;
}

.modal-back {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #754c00;
  font-weight: 800;
  z-index: 10;
}

.modal-finish {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  background-color: #F7AD45;
  color: #FFF1D7;
  font-weight: 800;
}

/*MODAL STYLE END*/


/*RESPONSIVE*/
@media (max-width: 1000px) {
  .menu {
    min-width: 356px;
    width: 80dvw;
  }

  .menubar li {
    width: 20dvw;
    min-width: 160px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftSide {
    width: fit-content;
    height: fit-content;
    padding: 30px 0px 30px 0;
  }

  .costume {
    width: 70dvw;
  }
  .costume select {
    margin: auto;
    width: 100%;
  }

  .costume input {
    margin: 0;
    width: 100%;
  }

  .costume button {
    width: 200px;
  }

  .menuList {
    height: 810px;
  }

  .kivalasztottSor {
    margin: 0;
  }
}