<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jelszó Visszaállítása</title>
  <link rel="stylesheet" href="/assets/css/resetpass.css" />
</head>
<body>
  <div class="reset-password-container">
    <h1 class="reset-password-title">Jelszó Visszaállítása</h1>
    <form action="/reset-password/<%= token %>" method="POST" class="reset-password-form">
      <label for="newPassword">Új Jelszó</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        minlength="8"
        placeholder="Új jelszó"
        required
      />
      <button type="submit" class="submit-button">Jelszó Visszaállítása</button>
    </form>
    <% if (message) { %>
      <div class="message"><%= message %></div>
    <% } %>
  </div>
</body>
</html>